@charset "UTF-8";

@media screen and (min-width: 768px) { /*de 768 pra cima vai mostrar essa folha de estilos*/
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}