@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root { /*usamos o root, uma pseudo classe, pra ter uma variável que ajude a organizar, a usar a mesma configuração em vários comandos*/
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* { /*seletor universal, pra todo o site*/
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%vh; /*100% da altura da viewport*/
    background-color: darkgray; /*cor do fundo*/
    font-family: var(--fonte1);
}

header { /*header é o cabeçalho*/
    background-color: black; /*cor de fundo*/
    color: white; /*cor da fonte*/
    text-align: center; /*alinhar o texto*/
}

header > h1 { /*o título Cordel Moderno, só vai mexer nele*/
    padding-top: 50px; /*espaço de cima*/
    font-variant: small-caps; /*pra ficar tudo em letra maiúscula, e também pode usar 'text-transform: uppercase;' mas fica mais gritante*/
    font-family: var(--fonte2); /*fonte que foi importada*/
    font-size: 4em;
}

header > p {
    padding-bottom: 50px; /*pra alinhar com o padding top do h1*/
}

header a, footer a { /*pra configurar os links*/
    color: white;
    text-decoration: none; /*pra tirar o sublinhado*/
    font-weight: bolder; /*pra deixar negrito*/

}

header a:hover, footer a:hover { /*o hover é exatamente pra estilizar quando passa o mouse em cima*/
    text-decoration: underline; /*no caso, pro link ficar sublinhado quando passar por cima*/
}

section { /*como não temc classe, serve pra todas as sections*/
    padding-top: 10vh; /*colocar o padding aqui pra que possa ser feito o efeito paralaxe*/
    padding-bottom: 10vh;
    line-height: 2em; /*dar espaço entre as linhas*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal { /*o . é pra dizer a classe*/
    background-color: white;
    color: black;
}

section.imagem { /*classe da section que vai a imagem*/
    background-color: rgb(71, 70, 70);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed; /*pra fazer o efeito paralaxe, onde a foto fica fixa enquanto tu rola*/
}

section.imagem > p { /*uso o >p porque é a section mas é a parte em que eu quero mexer*/
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.26);
    text-shadow: 1px 1px 0px black; /*sombra no texto*/
}

section#img01 { /*criei o id img 01 no html pra editar cada imagem*/
    background-image: url('../imagens/background001.jpg');
    background-size: cover; /*cover é pra cobrir todo o espaço*/
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center; /*ajustar a posição da imagem*/
    background-size: cover;
}

footer { /*pra estilizar o cabeçalho*/
    background-color: black; /*cor do fundo*/
    text-align: center; /*centralizar*/
    color: white; /*cor da letra*/
    padding: 10px; /*espaço entre a letra e o corpo*/
}